[user]
	email = alexei.r.2002@gmail.com
	name = Rusu Alexei
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
